html{
    font-size: 62.8%;
}
body{
    background-color: rgb(2, 2, 22);
}
:root{
    --secondary-color: rgb(99, 27, 158);
}
/* CSS for NavbarComp.js */
.nav-container{
    display: flex;
    background-color: rgba(12, 12, 71, 0.938);
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.logo:hover .gala{
    color: aliceblue;
}

.logo{
    letter-spacing: 1px;
    font-size: large;
    color: aliceblue;
}
.logo .gala{
    margin-right: 2px;
    color: rgb(174, 102, 233);
    transition-duration: .4s;
}
.nav-link{
    list-style: none;
    color: #f0f8ff;
    font-size: 1.8rem;
    transition: cubic-bezier(0.165, 0.84, 0.44, 1)  .4s;
}
.nav-link:hover{
    color: rgb(174, 102, 233);
}
.nav-link:focus{
    background-color: var(--secondary-color);
    color: aliceblue;
    border-radius: 5px;
}
.srch-input{
    outline: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.srch-btn{
    font-size: medium;
    border: 1px solid #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    color: #95969e;
    font-weight: bolder;
}

/* CSS for MainComp.js */
.movie-container{
    margin: 100px auto;
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* CSS for CardComp.js */
.movie{
    box-shadow: 0 5px 10px rgba(0,0,0,0.5);
    width: 200px;
    margin: 1rem;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
.movie:hover .poster{
    opacity: 0.6;
}
.movie:hover .play{
    display: flex;
    align-items: center;
    justify-content: center;
}
.play{
    display: none;
    border-radius: 50%;
    position: absolute;
    font-size: 1.3rem;
    left: 50%;
    top: 40%;
    width: 4rem;
    height: 4rem;
    text-align: center;
    background-color: var(--secondary-color);
    transform: translate(-50%,-50%);
    z-index: 100;
    color: #fff;
}
.movie .poster{
    width: 100%;
    height: 270px;
}
.movie-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.movie-details .box{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.movie-details .original_language{
    position: absolute;
    top: 7px;
    font-size: 1.8rem;
    background-color: var(--secondary-color);
    width: 5rem;
    color: rgb(238, 234, 234);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-shadow: 1px 1px  #e0d8da;
    box-shadow: 1px 1px .4px var(--secondary-color);
}
.movie-details .release_date{
    font-size: 1.2rem;
    color: rgb(127, 50, 190);
}
.movie-details .title{
    font-size: 1.8rem;
}
.movie-details .overview{
    position: absolute;
    left: 0;
    bottom: 0;
    max-height: 100%;
    background-color: #22298f;
    opacity: 0.9;
    color: white;
    box-sizing: border-box;
    padding: 1rem;
    transition: all 0.4s ease-in-out;   
    overflow-y: auto;
    transform: translateY(101%);
}
.movie-details:hover .overview{
    transform: translateY(0%);
}
.rating{
    font-weight: bold;
    position: absolute;
    right: 5px;
    bottom: 5px;
}    
.toggle-btn{
    display: none;
    background-color: transparent;
    border: none;
    color: aliceblue;
    font-size: large;
    margin-right: 1.5rem;
}
.search{
    display: flex;
}

/* FooterComp */
.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: rgba(240, 248, 255, 0.856);
    font-size: 1.3rem;
    background-color: rgb(27, 11, 43);
}
.foot_head{
    font-size: 1.9rem;
}
.social_link{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.7rem;
}
/* Media Quries */
/* NavbarComp */
@media screen and (max-width: 900px){
     .nav{
        display: none;
     }
    .nav-container{
        justify-content: space-between;
    }
    .toggle-btn{
        display: block;
    }
    .dropdown_menu{
        position: absolute;
        top: 70px;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(64, 31, 97);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }
    .nav-item{
        display: block;
    }
}
@media screen and (max-width: 480px){
    .search{
        display: none;
    }
    .logo{
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}
@media screen and (max-width: 555px){
    .movie-container{
        width: 100%;
    }
    .movie{
        width: 160px;
        margin: .5rem;
    }
    .movie .poster{
        width: 100%;
        height: 210px;
    }
    .movie-details .box{
        padding: .6rem;
    }
    .movie-details .original_language{
        font-size: 1.5rem;
        width: 4rem;
    }
    .movie-details .release_date{
        font-size: 1rem;
    }
    .movie-details .title{
        font-size: 1.3rem;
    }  
}
