html{
    font-size: 98%;
}
body{
    background-image: linear-gradient(#16213E,#16213E);
}
                                            /* Product.js */

.product{
    position: relative;
    background-color: #0F3460;
    color: aliceblue;
}
.product-image:nth-child(1){
    max-width: 70%;
}
.product-second-items{
    padding: 2%;
}
.product-first-items{
    margin-top: 5px;
}
.total{
    margin-top: 130px;
}

                                             /* Header.js */

.navbar{
    background-color: #133B5C;
    color:lavenderblush
}
                                            /* About Money */
.money{
    position: absolute;
    left: 50%;
    top: 70px;
    transform: translateX(-50%);
    font-weight: bold;
}
.mny{
    color: #9ED2C6;
    letter-spacing: .1rem;
    font-weight: 400;
}
.money-all{
    display: flex;
    flex-wrap: nowrap;
}
@media screen and (min-width: 768px){
    .total{
        margin-top: 160px;
    }
}

                                                /* Header.js (Basket-icon) */
.navbar{
    position: relative;
}
.nav-bag{
    display: flex;
    align-items: center;
}
.bag-quantity   {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
    background-color: #F2DF3A;
    border-radius: 50%;
    font-size: 14px;
    font-weight: 700;
    color: black;
    margin-left: 4px;
}
.bag-icon{
    color: #A5C9CA;
}

@media screen and (min-width: 1200px){
    .basket-icon{
        position: fixed;
        right: 550px;
    }
}
@media screen and (min-width: 576px) and (max-width: 1200px){
    .basket-icon{
        position: fixed;
        right: 100px;
        top: 14px;
    }
}
@media screen and (min-width: 300px) and (max-width: 576px){
    .basket-icon{
        position: fixed;
        right: 90px;
        top: 14px;
    }
}
@media screen and (max-width: 300px){
    .basket-icon{
        position: fixed;
        right: 75px;
        top: 14px;
    }
}
                                        /* about-us.js */


@media screen and (min-width: 576px){
.about{
    margin-top: 150px;
}
}
@media screen and (min-width: 300px) and (max-width: 576px){
    .about{
        margin-top: 140px;
    }
    .about-p{
        font-size: 16px;
    }
}   
@media screen and (max-width: 300px){
    .about{
        margin-top: 130px;
    }
    .about-p{
        font-size: 14px;
    }
} 
.about-header{
    color: #E1FFEE;
}                               
.about-p{
    color: #F5EDDC;
}            


                                                     /* Basket.js */

.basket-container{
    position: absolute;
    bottom: 10px;
}
.basket-text{
    margin-top: 70px;
    color: #FBDF07;
    letter-spacing: 4px;
}
                                                /* Product.js Basket Form */
.basket-information-for-home{
    position: absolute;
    top: 70px;
    left: 10px;
    z-index: 10;
}
.basket-info{
    font-size: 18px;
}
.basket-info-head{
    color: #9ED2C6;
}
@media screen and (max-width: 800px){
    .basket-info{
        font-size: 12px;
    }
}
@media screen and (max-width: 625px){
    .basket-information-for-home{
        position: absolute;
        top: 110px;
        left: 10px;
        display: inline-block;
    }
    .basket-info{
        margin-left: 5px;
    }
}
@media screen and (min-width: 625px){
    .basket-information-for-home{
        position: absolute;
        top: 70px;
        left: 10px;
        display: flex;
        flex-direction: column;
    }
}

                                         /* Light/Dark Mode */

        /* Theme Icon on Navbar(Dark Mode active) */
    
.theme-container{
background-color: #FFFFFF;
width: 4.7em;
height: 2.3em;
border-radius: 10em;
box-shadow: inset  0 8px 60px rgba(0, 0, 0, .1),
            inset  0 8px 8px rgba(0, 0, 0, .1),
            inset  0 -4px -4px rgba(0, 0, 0, .1);
position: fixed;
top: 15.2px;
left: 100px;
display: flex;
align-items: center;
padding: 0 0.5em;
cursor: pointer;
caret-color: transparent;
}
@media screen and (min-width:1200px) {
    .theme-container{
        left: 600px;
    }
}
@media screen and (min-width:576px) and (max-width:1200px){
    .theme-container{
        left: 75px;
    }
}
@media screen and (min-width:300px) and (max-width:576px){
    .theme-container{
        left: 55px;
    }
}
@media screen and (max-width:300px){
    .theme-container{
        left: 50px;
    }
}


.theme-icon-circle{
background-color: black;
height: 1.79em;
width: 1.79em;
border-radius: 50%;
position: absolute;
box-shadow: 0 8px 40px rgba(0, 0, 0, .2);
transition: transform .3s ease;
}
.theme-icon-container{
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
}
.theme-icon{
font-size: medium;
color: #F7F6DC;
}
                                            /* Light Mode   */

body.lightmode{
    background-image: linear-gradient(#FAFDD6,#FAFDD6);
}

.lightmode .theme-icon-circle{
    transform: translateX(1.99em);
    background-color: #92B4EC;
    box-shadow: 0 8px 40px rgba(0, 0, 0, .3);
}
.lightmode .theme-icon {
    color: #F2DF3A;
}
.lightmode .product{
    background-color: #E4E9BE;
    color: black;
}
.lightmode .navbar{
    background-color: #E4E9BE;
}
.lightmode .bag-icon{
    color: #876445;
}
.lightmode .mny{
    color: #876445;
}
.lightmode .basket-info-head{
    color: #876445;
}
.lightmode .basket-info{
    color: black;
}


